@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* Navigation Bar */

body {
  height: "5000px";
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  height: 50px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
/* LOGO */
nav .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

.content div {
  font-size: 40px;
  font-weight: 700;
}
/* Akhir Navigation Bar */

/* Banner */

/* Akhir Banner */

/* Content */
.PRODUCT {
  padding: 15px;
  padding-top: 150px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex: wrap;
}

.card {
  background-color: white;
  width: 500px;
  margin: 10px;
  border-radius: 15px;
}
.card-image {
  height: 315px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.shoes-1 {
  background-image: url(img/pink.jpg);
}
.shoes-2 {
  background-image: url(img/retro-jordan.jpg);
}
.shoes-3 {
  background-image: url(img/puma-white-sneakers.jpg);
}
.card h2 {
  padding: 10px;
}
.card p {
  padding: 10px;
}
.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
/* Akhir Content */

/* Footer */
footer {
  background: #222;
  color: #fff;
  padding-left: 500px;
}
